<h1>
  Showing Selected Article
</h1>

<%= link_to "Edit Article", edit_article_path(@article) %>

<p><strong>Title:</strong> <%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<%= link_to "Back to Homepage", articles_path %>
