<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; | Alpha Blog | <a href="https://www.kerispencer.net">Keri Spencer</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
